body{
  background: linear-gradient(30deg, #020533 5%, #7AC9F1) fixed;
  margin: 40px;
  color:#ffffff;
  font-family: "Karma", serif;
}
a{
  color:#7AC9F1;
}

header{
  display: inline-flex;
  align-items: center;
}

.App-logo{
  max-width:90px;
  margin-right: 33px ;
}

h1{
  font-family: "Jomhuria", serif;
  margin-right:130px;
  font-size: 60px;
}

h2{
  font-family:"Karma", serif;
  color:#FFFFFF;
  font-size: 50px;
}
.phonetics{
  color:#30C8FF;
  font-size: 25px;
}

.searchEngine{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 130px;
}

.dictionaryContainer{
  padding: 30px;
  border-radius: 10px;
  background: #000000;
  opacity: 30%;
  margin-bottom: 20px;
}

.dictionaryStart{
  text-align: center;
}
.definitionContainer{
  padding: 30px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.123);
  margin-bottom: 20px;
}

h3{
  font-size:30px;
  font-family:"Jomhuria", serif;
}

strong{
  color: #ADB4FF;
}
.example {
  color: #ADB4FF;
}