body{
  background: linear-gradient(30deg, #020533 5%, #7AC9F1) fixed;
  margin: 40px;
  color:#ffffff;
}
a{
  color:#7AC9F1;
}

header{
  display: inline-flex;
  align-items: center;
}

.App-logo{
  max-width:90px;
  margin-right: 33px ;
}

h1{
  font-family: "Jomhuria";
  margin-right:130px;
}

.searchEngine{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 130px;
}

.dictionaryContainer{
  padding: 30px;
  border-radius: 10px;
  background: #000000;
  opacity: 30%;
  margin-bottom: 20px;
}